body {
    background: gainsboro;
}

.button-container {
    margin: 0 0 20px;
}

.button {
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    display: inline-block;
    box-shadow: 3px 2px 3px rgba(0,0,0, 0.3);
    background: #a4a4a4;
    padding: 5px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
}

.button:active {
    line-height: 31px;
}

.connection-status {
    position: absolute;
    width: 100px;
    height: 40px;
    line-height: 40px;
    box-shadow: 3px 2px 3px rgba(0,0,0, 0.3);
    text-align: center;
    top: 0;
    right: 0;
    font-weight: bold;
    background: firebrick;
    color: white;
}

.connection-status.online {
    background: greenyellow;
    color: black;
}

.hide {
    display: none;
}

.nav.material-icons {
    background: transparent;
    border: none;
    font-size: 48px;
}
.nav.material-icons.prev {
    color: darkgreen;
}
.nav.material-icons.next {
    color: darkred;
}
.nav.material-icons:hover {
    background: transparent;
    border: none;
}

.movies-list {
    width: 100%;
    display: table;
    margin: 0 auto;
}

.movie-item {
    width: 400px;
    height: 100px;
    display: table;
    margin: 0 auto;
}
.movie-img {
    width: 25%;
    height: 100px;
    display: table-cell;
    padding: 10px;
}
.movie-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.title {
    width: 70%;
    display: table-cell;
    padding: 0 10px 0;
    vertical-align: top;
    font-size: 12px;
}

.remove-movie {
    background: darkred;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    float: right;
    text-align: center;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 10px;
}
