body {
    background: dimgrey;
}

.button-container {
    margin: 0 0 20px;
}

.button {
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    display: inline-block;
    box-shadow: 3px 2px 3px rgba(0,0,0, 0.3);
    background: #a4a4a4;
    padding: 5px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
}

.button:active {
    line-height: 31px;
}

.carousel-container {
    margin-bottom: 20px;
}

.connection-status {
    position: absolute;
    width: 100px;
    height: 40px;
    line-height: 40px;
    box-shadow: 3px 2px 3px rgba(0,0,0, 0.3);
    text-align: center;
    top: 0;
    right: 0;
    font-weight: bold;
    background: firebrick;
    color: white;
}

.connection-status.online {
    background: greenyellow;
    color: black;
}
